<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/base.css">
	<style>
	html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
	</style>

</head>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  {% block toolbar %}
  {% endblock %}
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-white w3-animate-left" style="z-index:3;width:300px;display:none;" id="mySidebar"><br>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    {% if location.project != "" %}
      <a href="#" class="w3-bar-item w3-button w3-padding {{ location.project }}"><i class="fa fa-users fa-fw"></i>  Project</a>
    {% endif %}
    <a href="/create" class="w3-bar-item w3-button w3-padding {{ location.new }}"><i class="fa fa-plus fa-fw"></i>  Create</a>
    <a href="/" class="w3-bar-item w3-button w3-padding {{ location.home }}"><i class="fa fa-globe fa-fw"></i>  Home</a>
    <a href="/settings" class="w3-bar-item w3-button w3-padding {{ location.settings }}"><i class="fa fa-cog fa-fw"></i>  Settings</a><br><br>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" style="display: none;" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" id="main-view" style="margin-top:43px;">

  {% block content %}
  {% endblock %}

  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-light-grey">
    <h4>BNGTrooper - he knows how to handle the blaster</h4>
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>. Made with passion by JB.</p>
  </footer>

  <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");
var mainview = document.getElementById("main-view");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
    mainview.style.marginLeft = "0px";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
    mainview.style.marginLeft = "300px";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>
<script src="/static/util.js"></script>
</body>
</html>